* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  --color-default: #ff4c3b;
}

body {
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #333333;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 60px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-size: 36px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.54px;
  line-height: 1;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  line-height: 24px;
  letter-spacing: 0.8px;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  line-height: 24px;
}

p {
  font-size: 14px;
  color: #777777;
  line-height: 1;
}

del {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 400;
}
::-webkit-scrollbar {
  display: none;
}

.pd-70 {
  padding-top: 70px;
}

.bg-light {
  background-color: #f9f9f9;
}

/* Header */
.top-header {
  background: #f8f8f8;
}

.top-header--block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.top-header--block ul {
  display: flex;
}

.top-header--block ul li {
  font-size: 14px;
  color: #999999;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul.left li {
  padding-right: 25px;
}

ul.left li a {
  color: #999999;
}
ul.left li a span {
  padding-right: 10px;
  color: var(--color-default);
}

ul.right li {
  padding-left: 25px;
}

ul.right li.dropdown-hdt {
  position: relative;
}

ul.right li.dropdown-hdt span.fa-user {
  padding-right: 5px;
}

ul.right li.dropdown-hdt span.fa-angle-down {
  padding-left: 5px;
  color: #999999 !important;
}

ul.right li:hover span {
  color: var(--color-default);
}

ul.right li ul {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  z-index: 10;
  min-width: 160px;
  box-shadow: 0 0 1px 0 #ebebeb;
  padding: 15px 20px;
  transform: translateY(30px);
  background-color: #fff;
}

ul.right li:hover ul {
  display: block;
  transition: all 0.3s ease-in;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

ul.right li ul li {
  padding: 0;
  padding-bottom: 5px;
}

ul.right li ul li > a {
  font-size: 15px;
  color: #212529;
}

/* Main header */
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.menu-left {
  display: flex;
  align-items: center;
}

.navbar {
  display: inline-block;
  padding: 40px 45px 40px 0;
}

.bar-style {
  cursor: pointer;
}

.bar-style > i {
  font-size: 28px;
  line-height: 1;
}

.header-logo {
  padding: 35px 0;
}

.menu-right {
  display: flex;
  align-items: center;
}

.menu-right ul {
  display: flex;
  align-items: center;
}

#menu ul li {
  position: relative;
}

#menu ul li a {
  padding: 42px 45px 42px 0;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.98px;
  position: relative;
}

ul li a span.sub-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
}

ul li a span.sub-arrow::before {
  line-height: 34px;
}

#menu ul li a:hover {
  color: var(--color-default);
}

.header-icon ul li {
  padding: 40px 0 40px 20px;
}

#menu ul li a .label {
  position: absolute;
  background-color: var(--color-default);
  top: 20px;
  font-size: 9px;
  line-height: 1.3;
  color: #fff;
  padding: 2px 7px;
}

#menu ul li a .label::before {
  position: absolute;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--color-default);
  top: 15px;
  left: 5px;
}

/* multi menu */
#menu ul li ul {
  position: absolute;
  z-index: 9;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0 0 1px 0 #ebebeb;
  min-width: 224px;
  display: none;
  transition: all 0.5s;
}

#menu ul li:hover ul {
  display: block;
  transition: all 0.5s;
}

#menu ul li ul::-webkit-scrollbar {
  display: none;
}

#menu ul li:nth-child(5) ul li ul {
  left: -224px;
}

#menu ul li ul li ul {
  display: none !important;
  top: -15px;
  left: 100%;
}

#menu ul li ul li:last-child ul {
  top: -150px;
}

#menu ul li ul li:hover ul {
  display: block !important;
}

#menu ul li ul li a {
  padding: 5px 35px;
  text-transform: capitalize;
  color: #222222;
}

#menu ul li ul li a:hover {
  color: #222222;
}

#menu ul li ul li a span.sub-arrow {
  right: 10px;
}

#menu ul li ul li a::before {
  position: absolute;
  content: "";
  height: 2px;
  background: var(--color-default);
  width: 0;
  bottom: 0;
  transition: all 0.3s;
}

#menu ul li ul li a:hover::before {
  width: 50px;
  transition: all 0.3s;
}

.new-tag {
  padding-left: 3px;
  color: var(--color-default);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

/* mySidenav */
#mySidenav {
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: none;
}

#clock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: #212331;
  opacity: 0.8;
}

#mySidenav .sidenav-content {
  background-color: #ffffff;
  z-index: 9;
  position: relative;
  height: 100vh;
  top: 0;
  left: -300px;
  overflow-y: scroll;
  transition: 0.5s all;
}

#mySidenav .sidenav-content.open {
  left: 0;
  transition: all 0.5s ease-in;
}

#mySidenav .side-back {
  padding: 20px;
  font-size: 18px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#mySidenav .side-back i {
  font-size: 28px;
  color: #222222;
  cursor: pointer;
  padding-right: 8px;
  margin-top: -4px;
}

#mySidenav ul li a {
  padding: 10px 25px;
  text-transform: uppercase;
  color: #222222;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.98px;
  position: relative;
}

#mySidenav ul li a:hover {
  color: var(--color-default);
}

#mySidenav ul li a span.sub-arrow::after {
  content: "+";
}

#mySidenav ul li a span.sub-arrow {
  margin-top: -7px;
  right: 7px;
}

#mySidenav ul li ul {
  padding: 0 30px;
}

#mySidenav .link-section {
  padding: 0 15px;
}

.link-section h5 {
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 8px;
}

#mySidenav ul li a.active span.sub-arrow::after {
  content: "-";
}

#mySidenav ul li a.has-submenu.active {
  color: var(--color-default);
}

#mySidenav ul li ul.menu-2 {
  display: none;
  transition: all 0.3s;
}

#mySidenav ul li.show ul.menu-2 {
  display: block;
}

#mySidenav ul li ul li .link-section ul {
  padding: 0;
}

#mySidenav ul li ul li .link-section ul li a {
  padding: 5px 0;
  margin-left: 15px;
}

#mySidenav ul li ul li:last-child a {
  padding: 0 15px;
}

#mySidenav ul li ul li img {
  margin: 15px 0;
}

/* mega menu */

#mega {
  position: absolute;
  z-index: 100;
  left: -140px;
  transform: translateX(-50%);
  display: none;
  transition: all 0.3s;
}

#menu .mega:hover #mega {
  display: block;
  transition: all 0.3s;
}

#mega {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#menu ul li.mega ul {
  display: block !important;
  height: 100%;
  min-width: 100%;
  position: static;
  background: transparent;
  padding: 0;
}

#mega .mega-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
}

#mega .mega-menu .menu-item {
  padding: 0 15px;
}

#mega .menu-item h5 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 5px;
}

#menu ul li.mega ul li a {
  padding: 3px 0;
}

#menu ul li.mega ul li a i {
  color: var(--color-default);
}

#menu ul li.mega ul li a span {
  position: absolute;
  top: -5px;
  color: var(--color-default);
  font-size: 12px;
  font-weight: 700;
}

/* header Icon */
.header-icon ul li {
  position: relative;
}

.show-div {
  position: absolute;
  z-index: 2;
  right: 0;
  background: #fff;
  box-shadow: 0 0 1px 0 #ebebeb;
  top: 110%;
  padding: 15px 20px 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.header-icon ul li .setting {
  min-width: 175px;
}

.header-icon ul li:hover .show-div {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  top: 95%;
}

.setting h6 {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  text-transform: capitalize;
}

.setting ul {
  display: block;
}

.setting ul li {
  padding: 5px 0 0 17px;
}

.header-icon ul li .shoping-cart {
  min-width: 270px;
}

.shoping-cart ul {
  display: block;
}

.shoping-cart ul li {
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
}

.media {
  display: flex;
  justify-content: start;
  align-items: center;
}

.shoping-cart ul li img {
  height: 90px;
  width: auto;
  margin-right: 15px;
}

.media .media-body h4 {
  color: #333333;
  margin-bottom: 7px;
}

.media .media-body span {
  color: #777777;
  font-size: 16px;
}

.total {
  padding: 10px 0;
  border-top: 1px solid #f1f5f4;
  border-bottom: 1px solid #f1f5f4;
}

.total h5 {
  text-transform: capitalize;
  color: #999999;
}

.total h5 span {
  float: right;
}

.shoping-cart ul li .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoping-cart ul li .buttons a {
  font-size: 16px;
  color: #333333;
  text-transform: capitalize;
  font-weight: 700;
}

/* Header */

/* Slides */

.slides .swiper-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slides .slide-content {
  height: 75vh;
}

.slider-contain {
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75vh;
}

.slider-contain > div {
  text-align: center;
}

.slider-contain h4 {
  font-weight: 700;
  letter-spacing: 7px;
  color: #777777;
}

.slider-contain h1 {
  margin-top: 10px;
}

.slider-contain .btn {
  margin-top: 20px;
}

.btn {
  line-height: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  display: inline-block;
  outline: none;
}

.btn-soid {
  padding: 13px 29px;
  border: 2px solid var(--color-default);
  letter-spacing: 0.7px;
  background-image: linear-gradient(
    30deg,
    var(--color-default) 50%,
    transparent 50%
  );
  background-size: 850px;
  background-repeat: no-repeat;
  color: #ffffff;
  transition: background 0.3s ease-in-out;
}

.btn-soid:hover {
  background-position: 100%;
  color: #000000;
  background-color: #ffffff;
}

.btn-slide-next,
.btn-slide-prev {
  height: 36px;
  width: 36px;
}

.btn-slide-next {
  right: -50px;
  transition: all 0.3s;
}

.btn-slide-prev {
  left: -50px;
  transition: all 0.3s;
}

.slides:hover .btn-slide-next {
  right: 80px;
  transition: all 0.3s;
}

.slides:hover .btn-slide-prev {
  left: 80px;
  transition: all 0.3s;
}

.btn-slide-next::after,
.btn-slide-prev::after {
  font-size: 14px;
  font-weight: 700;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slides */

/* banner */
.banner-block {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.banner-left,
.banner-right {
  position: relative;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 70px;
  text-align: center;
}

.banner-content h4 {
  color: var(--color-default);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}

.banner-content h2 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.55px;
  margin-bottom: -6px;
}

.banner-left img,
.banner-right img {
  transition: all 0.3s;
}

.banner-left:hover img,
.banner-right:hover img {
  transform: scale(1.1);
  transition: all 0.3s;
}
/* banner end */

/* top collection */
.title1 {
  text-align: center;
}

.title1 h4 {
  color: var(--color-default);
  padding-bottom: 10px;
}

.title1 h2.title-inner {
  font-size: 32px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.title1 h2.title-inner::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-default);
  margin: 0 auto;
}

.title1 .text-description {
  width: 50%;
  padding: 0 15px;
  margin: 0 auto;
}

.text-description p {
  line-height: 24px;
  padding-bottom: 30px;
  letter-spacing: 0.07px;
}

.collection-inner {
  padding: 0 15px;
}

.product-top {
  position: relative;
  overflow: hidden;
}

.label-block .label-1 {
  border-radius: 100%;
  background-color: var(--color-default);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  padding: 12px 6px;
  text-transform: uppercase;
  color: #ffffff;
  top: 7px;
  left: 7px;
  z-index: 1;
}

.label-block .label-2 {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  top: 7px;
  right: 7px;
  letter-spacing: 1.4px;
  z-index: 1;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  opacity: 0;
  transition: all 0.4s;
}

.product-box:hover .back {
  left: 0;
  opacity: 1;
  transition: all 0.4s;
}

.cart-wrap {
  position: absolute;
  bottom: 0;
  right: -100%;
  opacity: 0;
  transition: all 0.4s;
}

.product-box:hover .cart-wrap {
  right: 0;
  transition: all 0.4s;
  opacity: 1;
}

.cart-wrap li a i {
  padding: 10px;
  font-size: 18px;
}

.product-detail {
  padding-left: 5px;
}

.product-detail .rating {
  margin-top: 15px;
}

.product-detail .rating i {
  color: #ffa200;
  font-size: 14px;
  line-height: 1;
}

.product-detail .rating i:last-child {
  color: #dddddd;
}

.product-detail h6 {
  line-height: 1;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 16px;
}

.product-detail h4 {
  font-size: 18px;
  color: #222222;
  font-weight: 700;
}

.color-variant {
  display: flex;
  padding-top: 15px;
  padding-bottom: 1px;
}

.color-variant li {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 100%;
  cursor: pointer;
}

.bg-light0 {
  background-color: #d0edff;
}

.bg-light1 {
  background-color: #f1e7e6;
}

.bg-light2 {
  background-color: #bfbfbf;
}

/* top collection end*/

/* parallax banner */
.full-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 170px;
  padding-bottom: 170px;
}

.full-banner.parallax {
  background-attachment: fixed;
}

.full-banner .banner-contain {
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.full-banner .banner-contain > div {
  text-align: center;
}

.full-banner .banner-contain h2 {
  font-size: 90px;
  font-weight: 700;
  color: var(--color-default);
  text-transform: uppercase;
  margin-top: -15px;
  margin-bottom: 10px;
}

.full-banner .banner-contain h3 {
  font-size: 55px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.full-banner .banner-contain h4 {
  font-size: 24px;
  color: #777777;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 12px;
  padding-top: 8px;
  margin-bottom: -5px;
  line-height: 1.3;
}
/* parallax banner end */

/* special products */
.special-products {
  padding-bottom: 70px;
}

.products-block {
  padding: 0 15px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.tabs li {
  padding: 0 25px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

.tabs li.current {
  color: var(--color-default);
}

.products-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: block;
}
/* special products end */

/* service */
.service {
  padding: 0 15px;
}

.service > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}

.service-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-block:nth-child(2) {
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
}

.service-block svg {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

@keyframes svgScales {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.service-block:hover svg {
  animation: svgScales 1s;
}

.service-block .media {
  justify-content: center;
  padding: 20px 0;
}

.service-block h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.service-block:hover h4 {
  color: var(--color-default);
  transition: all 0.2s;
}

.service-block p {
  text-transform: capitalize;
}
/* service end */

/* blogs */

.blogs-contain {
  padding: 0 15px;
}

.blog-top {
  position: relative;
}

.blog-top::before,
.blog-top::after,
.blog-top span::before,
.blog-top span::after {
  background: var(--color-default);
  width: 25%;
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.3s steps(4);
  z-index: 1;
  bottom: 100%;
  top: 0;
}

.blog-top::before {
  left: 0;
  transition-delay: 0;
}

.blog-top::after {
  left: 25%;
  transition-delay: 0.05s;
}

.blog-top span::before {
  left: 50%;
  transition-delay: 0.1s;
}

.blog-top span::after {
  left: 75%;
  transition-delay: 0.15s;
}

.blog-top:hover:before {
  opacity: 0.5;
  bottom: 0;
}

.blog-top:hover::after {
  opacity: 0.5;
  bottom: 0;
}

.blog-top:hover span::before {
  opacity: 0.5;
  bottom: 0;
}

.blog-top:hover span::after {
  opacity: 0.5;
  bottom: 0;
}

.blog-detail {
  padding: 0 15px;
  text-align: center;
}

.blog-detail h4 {
  margin-top: 20px;
  color: var(--color-default);
}

.blog-detail p {
  position: relative;
  text-transform: uppercase;
  color: #222222;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  transition: all 0.3s;
}

.blog-detail:hover p {
  color: var(--color-default);
  transition: all 0.3s;
}

.blog-detail p::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 75px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-default);
}

.blog-detail h6 {
  letter-spacing: 1.4px;
  line-height: 1;
}

/* blogs end */

/* instagram */
.inst-box {
  position: relative;
  overflow: hidden;
}

h2.title-borderless {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.inst-box .overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color-default);
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(3) rotate(90deg);
}

.inst-box .overlay i {
  font-size: 60px;
  color: #ffffff;
}

.inst-box:hover .overlay {
  opacity: 0.5;
  transform: scale(1) rotate(0);
}
/* instagram end */

/* footer */
.ft-contain {
  display: flex;
  align-items: center;
  padding: 30px 15px;
  border-bottom: solid 1px #dddddd;
}

.ft-left {
  width: 50%;
  border-right: solid 1px #dddddd;
}

.ft-left h4 {
  margin-bottom: 10px;
  font-weight: 700;
}

.ft-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ft-right form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ft-right form input {
  margin-right: 15px;
  width: 215px;
  padding: 13px;
  border: 1px solid #eeeeee;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
}

.footer-middle {
  padding-bottom: 70px;
}

.fm-contain {
  display: flex;
  padding: 0 15px;
}

.fm-contain .fm-left {
  width: 33.3333%;
}

.fm-left .footer-logo {
  margin-bottom: 15px;
}

.fm-left .footer-logo img {
  width: auto;
}

.fm-left p , .fb-left p{
  line-height: 32px;
  letter-spacing: 0.42px;
}

.fm-left .footer-social {
  margin-top: 40px;
}

.fm-left .footer-social ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fm-left .footer-social ul li {
  padding-right: 50px;
}

.fm-left .footer-social ul li a {
  font-size: 20px;
  line-height: 1;
  color: #000000;
  transition: 0.3s all;
}

.fm-left .footer-social ul li:hover a {
  color: var(--color-default);
  transition: 0.3s all;
}

.fm-contain .fm-right {
  margin-left: 95px;
  flex: 1;
  display: flex;
}

.fm-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

.fm-title h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.fm-content ul li {
  position: relative;
  padding-top: 13px;
  text-transform: capitalize;
  font-size: 14px;
  color: #777777;
}

.fm-content ul li a {
  color: #777777;
  position: relative;
  display: initial;
}

.fm-content ul li a::before {
  position: absolute;
  content: "";
  height: 2px;
  background: var(--color-default);
  width: 0;
  top: 20px;
  transition: all 0.3s;
}

.fm-content ul li a:hover::before {
  width: 100%;
  transition: all 0.3s;
}

.fm-content ul.contact-list li{
  padding-left: 20px;
}

.fm-content ul.contact-list li i{
  position: absolute;
  left: 0;
  top: 17px;
}

.fb-contanin{
  display: flex;
  align-items: center;
}

.fb-left{
  padding: 0 15px;
  width: 50%;
}

.fb-left p{
  padding: 20px 0;
}

.fb-right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.payment-card-bottom{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
}

.payment-card-bottom ul{
  display: flex;
}

.payment-card-bottom ul li{
  padding-right: 15px;
}


/* footer end */
